[Unit]
Description=myBot Helga
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/pi/python/myBot.py
Restart=always
RestartSec=15
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

